<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>ChaseFishProjectViewController</string>
		<key>image</key>
		<string>xm</string>
		<key>title</key>
		<string>项目</string>
	</dict>
	<dict>
		<key>className</key>
		<string>ChaseFishSupplyViewController</string>
		<key>image</key>
		<string>gq</string>
		<key>title</key>
		<string>供求</string>
	</dict>
	<dict>
		<key>className</key>
		<string>ChaseFishStudyViewController</string>
		<key>image</key>
		<string>xx</string>
		<key>title</key>
		<string>学习</string>
	</dict>
	<dict>
		<key>className</key>
		<string>ChaseFishInfomationViewController</string>
		<key>image</key>
		<string>zx</string>
		<key>title</key>
		<string>资讯</string>
	</dict>
	<dict>
		<key>className</key>
		<string>ChaseFishStoreViewController</string>
		<key>image</key>
		<string>sc</string>
		<key>title</key>
		<string>商城</string>
	</dict>
	<dict>
		<key>className</key>
		<string>ChaseFishTalentsViewController</string>
		<key>image</key>
		<string>rc</string>
		<key>title</key>
		<string>人才</string>
	</dict>
	<dict>
		<key>className</key>
		<string>ChaseFishRecruitViewController</string>
		<key>image</key>
		<string>zp</string>
		<key>title</key>
		<string>招聘</string>
	</dict>
	<dict>
		<key>className</key>
		<string>ChaseFishActivityViewController</string>
		<key>image</key>
		<string>hd</string>
		<key>title</key>
		<string>活动</string>
	</dict>
</array>
</plist>
