<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChaseFishProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E37ECEB51E557F8D0095259E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E37ECECE1E557F8E0095259E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E37ECED91E557F8E0095259E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
